* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}


nav {
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    
}

.logo a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px; 
}

#nav-link {
    display: flex;
    justify-content: space-around;
    /* background-color:red; */
    width: 20% 
}

#nav-link li:hover {
    background-color: red;
}
 
#nav-link li {
    list-style: none;
    padding: 10px;
}

#nav-link a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 14px;

}

#blog-artikel {
    padding: 0px 150px;
}

#html-css h1, h3, p {
    margin: 20px 0;
}

#tanggal-post {
    text-align: left;
    margin: 20px 0;
}
article {
    padding-bottom: 20px;
}
article p {
    text-align: justify;
    font-size: 18px;
}
article img {
    width: 40%;
    height: auto;
}

.profile-picture {
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    background-color: black;
    position: relative;
    align-items: center;
}

.profile-picture img {
    width: 50%;
    height: 50%;
   
}

.my-profile {
    top:0;
    left:0;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;    
}

.my-name {
    font-family: 'roboto', sans-serif;
    width: 300px;
    height: auto;
    padding: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid white;
    color: white;
}

.asal-lahir {
    bottom:0;
    left:0;
    margin-bottom: 100px;
    margin-left: 200px;
    position: absolute; 
}

.from {
    font-family: 'roboto', sans-serif;
    width: 300px;
    height: auto;
    padding: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid white;
    color: white;    
}

.tujuan {
    top:0;
    right: 0;
    margin-top: 300px;
    margin-right: 200px;
    position: absolute;
}

.my-goal {
    width: 350px;
    height: auto;
    padding: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid white;
    color: white;
}